# Rust / Cargo
target/

# Rustup
.rustup/
.rustup-toolchains/
.rustup-update-hashes
.rustup/settings.toml
.rustup/tmp/

# Rust Analyzer / IDEs
*.rs.bk
*.swp
*.swo
*.sw?
.idea/
.vscode/
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
